<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="amounts" value="99,199,299,399,499,999,1499,1999,2999"/>
    <add key="displayBrowser" value="true"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>